<section class="content-header">
    <h1>
      {{ title }}
      <small>Consulta de estoque de produtos</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">{{ title }}</li>
    </ol>
  </section>
  
   <!-- content -->
   <section class="content" [@frameAppeared]="frameState">
      <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title"></h3>
              </div>
  
              
              <!-- /.box-header -->
              <div class="box-body">
                 <form [formGroup]="produtoForm">
                  
                  <div class="col-sm-12">
                    <div class="col-sm-12">
  
                      
  
                    </div>
                        
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="Quantidade">Item (Código ou nome)</label>
                        <div >
                          <ng-autocomplete
                            [data]="produtos"
                            [searchKeyword]="keyword"
                            placeholder="Entre com o nome do produto"
                            (selected)='selectEvent($event)'
                            (inputChanged)='onChangeSearch($event)'
                            historyIdentifier="produtos"
                            [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate"
                            formControlName="searchControl"
                            #autocomplete
                            (inputCleared)="closeAutocomplete()"
                            >
                          </ng-autocomplete>
                            
                          <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.dsProduto"></a>
                          </ng-template>
                        
                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                        </div>
                      </div>
  
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group ">
                        <label for="Quantidade">% (Menor que)</label>
                        <input type="number" (focus)="buscarPorCodigo()" class="form-control autocomplete-container" id="Quantidade" placeholder="Password" formControlName="percentual">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <button #btnIncluir  (click)="incluir(); autocomplete.focus()" class="btn btn-danger btn-action"><i class="fa fa-filter"></i> Filtrar</button>
                        &nbsp;
                        <button 
                          *ngIf="produtosEnviar.length > 0" 
                          (click)="imprimir()" 
                          class="btn btn-action" 
                          [class.btn-success]="!this.isGerando" 
                          [class.btn-warning]="this.isGerando">
                            <i class="fa fa-print" *ngIf="!this.isGerando"></i> 
                            <span *ngIf="!this.isGerando">{{ msgPrint }}</span>
                            <div class="spinner-container" *ngIf="this.isGerando">
                              <div class="loading-spinner"></div>
                            </div>
                          </button>
                        
                      </div>
                    </div>
                  </div>
                    
                  <div class="conteudo">
                    <div class="row">
                      <div class="col-sm-6"></div>
                      <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <table id="example2"  class="table table-bordered table-hover" >
                          <thead>
                            <tr role="row">
                              <th >Código</th>
                              <th >Produto</th>
                              <th >Quantidade</th>
                              <th >Quantidade Referência</th>
                              <th >%</th>
                              
                          </thead>
                          <tbody >
                            <tr  *ngFor="let produto of produtosEnviar;let index = index">
                              <td>{{ produto.cdProduto }}</td>
                              <td>{{ produto.dsProduto }}</td>
                              <td>{{ produto.qtdAtual }}</td>
                              <td>{{ produto.qtdReferencia }}</td>
                              <td>{{ produto.percentual }} %</td>
                            </tr>
                          </tbody>
                      
                        </table>
                      </div>
                  </div>
                  
                </div>
              </form> 
            </div>
              <!-- /.box-body -->
            
            <div class="box-footer">
              
            </div>  
          </div>
            <!-- /.box -->
  
            
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
  </section>
  <!-- content -->
